<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BVMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BVM">
        <activity
            android:name=".ui.common.SignupActivity"
            android:exported="false" />

        <activity
            android:name=".ui.common.LoginActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".ui.music.MusicInfoActivity"
            android:exported="false"
            android:theme="@style/InfoActivityTheme" />
        <activity
            android:name=".ui.common.AddModelActivity"
            android:exported="false"
            android:label="@string/model_add_name" />
        <activity
            android:name=".ui.video.VideoInfoActivity"
            android:exported="false"
            android:theme="@style/InfoActivityTheme" />
        <activity
            android:name=".ui.book.BookInfoActivity"
            android:exported="false"
            android:theme="@style/InfoActivityTheme" />
        <activity
            android:name=".ui.common.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>